<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}">  <title>Sign in</title>
</head>

<body>
  <div class="main">
      <form method="POST" action="/">

        <p class="sign" align="center">Forgot your password?</p>
        <h1> Please enter your email address to reset your password </h1>
        <input class="email " type="text" align="center" placeholder="Email address">
        <a class="submit" align="center">Send email</a>
        <br>
        <br>
        <p class="go_back" align="center"><a href="/login/">Go back</a></p>
      </form>

    </div>

</body>

</html>
