<html>

    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href="info.css" rel="stylesheet" type=text/css>
        <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">

        <title>Sign in</title>
    </head>

    <body>



        <div class="main">
        <p class="sign" align="center">Travel Info</p>




        <p>&nbsp&nbsp&nbsp&nbsp Choose your nearest airport</p>
            <form action="#" method="POST">

                <input list="airport" id="airport_options" class="airport" name="origin">
                <datalist id="airport">
                    <option value="Birmingham International Airport">
                    <option value="Dothan Regional Airport">
                    <option value="Huntsville International Airport">
                    <option value="Mobile">
                    <option value="Montgomery">
                    <option value="Anchorage International Airport">
                    <option value="Fairbanks International Airport">
                    <option value="Juneau International Airport">
                    <option value="Flagstaff">
                    <option value="Phoenix, Phoenix Sky Harbor International Airport">
                    <option value="Tucson International Airport">
                    <option value="Yuma International Airport">
                    <option value="Fayetteville">
                    <option value="Little Rock National Airport">
                    <option value="Northwest Arkansas Regional Airport">
                    <option value="Burbank">
                    <option value="Fresno">
                    <option value="Long Beach">
                    <option value="Los Angeles International Airport">
                    <option value="Oakland">
                    <option value="Ontario">
                    <option value="Palm Springs">
                    <option value="Sacramento">
                    <option value="San Diego">
                    <option value="San Francisco International Airport">
                    <option value="San Jose">
                    <option value="Santa Ana">
                    <option value="Aspen">
                    <option value="Colorado Springs">
                    <option value="Denver International Airport">
                    <option value="Grand Junction">
                    <option value="Pueblo">
                    <option value="Hartford">
                    <option value="Tweed New Haven">
                    <option value="Washington, Dulles International Airport">
                    <option value="Washington National Airport">
                    <option value="Daytona Beach">
                    <option value="Fort Lauderdale-Hollywood International Airport">
                    <option value="Fort Meyers">
                    <option value="Jacksonville">
                    <option value="Key West International Airport">
                    <option value="Miami International Airport">
                    <option value="Orlando">
                    <option value="Pensacola">
                    <option value="St. Petersburg">
                    <option value="Sarasota">
                    <option value="Tampa">
                    <option value="West Palm Beach">
                    <option value="Panama City-Bay County International Airport">
                    <option value="Atlanta Hartsfield International Airport">
                    <option value="Augusta">
                    <option value="Savannah">
                    <option value="Hilo">
                    <option value="Honolulu International Airport">
                    <option value="Kahului">
                    <option value="Kailua">
                    <option value="Lihue">
                    <option value="Boise">
                    <option value="Chicago Midway Airport">
                    <option value="Chicago, O'Hare International Airport Airport">
                    <option value="Moline">
                    <option value="Peoria">
                    <option value="Evansville">
                    <option value="Fort Wayne">
                    <option value="Indianapolis International Airport">
                    <option value="South Bend">
                    <option value="Cedar Rapids">
                    <option value="Des Moines">
                    <option value="Wichita">
                    <option value="Lexington">
                    <option value="Louisville">
                    <option value="Baton Rouge">
                    <option value="New Orleans International Airport">
                    <option value="Shreveport">
                    <option value="Augusta">
                    <option value="Bangor">
                    <option value="Portland">
                    <option value="Baltimore">
                    <option value="Boston, Logan International Airport">
                    <option value="Hyannis">
                    <option value="Nantucket">
                    <option value="Worcester">
                    <option value="Battlecreek">
                    <option value="Detroit Metropolitan Airport">
                    <option value="Detroit">
                    <option value="Flint">
                    <option value="Grand Rapids">
                    <option value="Kalamazoo-Battle Creek International Airport">
                    <option value="Lansing">
                    <option value="Saginaw">
                    <option value="Duluth">
                    <option value="Minneapolis/St.Paul International Airport">
                    <option value="Rochester">
                    <option value="Gulfport">
                    <option value="Jackson">
                    <option value="Missouri">
                    <option value="Kansas City">
                    <option value="St Louis, Lambert International Airport">
                    <option value="Springfield">
                    <option value="Billings">
                    <option value="Lincoln">
                    <option value="Omaha">
                    <option value="Las Vegas, Las Vegas McCarran International Airport">
                    <option value="Reno-Tahoe International Airport">
                    <option value="Manchester">
                    <option value="Atlantic City International Airport">
                    <option value="Newark International Airport">
                    <option value="Trenton">
                    <option value="New Mexico">
                    <option value="Albuquerque International Airport">
                    <option value="Alamogordo">
                    <option value="Albany International Airport">
                    <option value="Buffalo">
                    <option value="Islip">
                    <option value="New York, John F Kennedy International Airport (JFK)">
                    <option value="New York, La Guardia Airport">
                    <option value="Newburgh">
                    <option value="Rochester">
                    <option value="Syracuse">
                    <option value="Westchester">
                    <option value="Asheville">
                    <option value="Charlotte/Douglas International Airport">
                    <option value="Fayetteville">
                    <option value="Greensboro">
                    <option value="Raleigh">
                    <option value="Winston-Salem">
                    <option value="North Dakota">
                    <option value="Bismark">
                    <option value="Fargo">
                    <option value="Akron">
                    <option value="Cincinnati">
                    <option value="Cleveland">
                    <option value="Columbus">
                    <option value="Dayton">
                    <option value="Toledo">
                    <option value="Oklahoma City">
                    <option value="Tulsa">
                    <option value="Eugene">
                    <option value="Portland International Airport">
                    <option value="Portland, Hillsboro Airport">
                    <option value="Salem">
                    <option value="Allentown">
                    <option value="Erie">
                    <option value="Harrisburg">
                    <option value="Philadelphia">
                    <option value="Pittsburgh">
                    <option value="Scranton">
                    <option value="Providence - T.F. Green Airport">
                    <option value="Charleston">
                    <option value="Columbia">
                    <option value="Greenville">
                    <option value="Myrtle Beach">
                    <option value="Pierre">
                    <option value="Rapid City">
                    <option value="Sioux Falls">
                    <option value="Bristol">
                    <option value="Chattanooga">
                    <option value="Knoxville">
                    <option value="Memphis">
                    <option value="Nashville">
                    <option value="Amarillo">
                    <option value="Austin Bergstrom International Airport">
                    <option value="Corpus Christi">
                    <option value="Dallas Love Field Airport">
                    <option value="Dallas/Fort Worth International Airport">
                    <option value="El Paso">
                    <option value="Houston, William B Hobby Airport">
                    <option value="Houston, George Bush Intercontinental Airport">
                    <option value="Lubbock">
                    <option value="Midland">
                    <option value="San Antonio International Airport">
                    <option value="Salt Lake City">
                    <option value="Burlington">
                    <option value="Montpelier">
                    <option value="Rutland">
                    <option value="Dulles">
                    <option value="Newport News">
                    <option value="Norfolk">
                    <option value="Richmond">
                    <option value="Roanoke">
                    <option value="Pasco, Pasco/Tri-Cities Airport">
                    <option value="Seattle, Tacoma International Airport">
                    <option value="Spokane International Airport">
                    <option value="Charleston">
                    <option value="Clarksburg">
                    <option value="Huntington Tri-State Airport">
                    <option value="Green Bay">
                    <option value="Madison">
                    <option value="Milwaukee">
                    <option value="Casper">
                    <option value="Cheyenne">
                    <option value="Jackson Hole">
                    <option value="Rock Springs">
  </datalist>

                <p>&nbsp&nbsp&nbsp&nbsp Enter your desired departure date</p>
                <input class="departure" type="date" name="departureDate" align="center" >

                <p>&nbsp&nbsp&nbsp&nbsp Enter your duration of travel in days<p>
                <input class="return" type="text" name="duration" align="center">

                <p>&nbsp&nbsp&nbsp&nbsp Enter your desired budget for plane tickets</p>
                <input class="budget" type="text" name="budget" align="center" placeholder="$">
                <input type="submit" class="submit" href="/register/" align="center" value="Search">


            </form>

            <p class="back" align="center"><Go back</a></p>
        </div>

    </body>

</html>
