<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">  <title>Sign in</title>
</head>

<body>
  <div class="main">

      <a class="new_search" href="/info/" align="center">Perform new search</a>

      <br>
      <br>
      <form method="POST" action="/">
        <p class="log_out" align="center"><a href="/google/logout">Logout</a></p>
      </form>

    </div>

</body>

</html>
